In [22]:
import pandas as pd
file_one = "csv_files/Age-specific fertility rates, Total fertility and .csv"


fertility_df = pd.read_csv(file_one)

fertility_df.head(10)

,"United Nations, Department of Economic and Social Affairs",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,"Population Division, Fertility and Family Plan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World Fertility Data 2012\nAGE-SPECIFIC FERTIL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,ISO code,Period,Reference,NaN,Total fertility,Age-specific fertility rates,NaN,NaN,NaN,...,NaN,NaN,Mean age at childbearing,Source type,Source,Survey name,Note on country or population,Note on age,Note on methods,Note on population data used in denominator
3,NaN,NaN,NaN,Year,Period,NaN,15-19,20-24,25-29,30-34,...,40-44,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,4,Around 1970,1973,1972-1973,8.21,168,359,355,307,...,137,81,30,Survey,National statistics,Afghanistan 1972-1974 National Demographic and...,NaN,NaN,NaN,NaN
5,Afghanistan,4,..,1979,NaN,7.11,105,260,309,301,...,185,..,30.7,Census,National statistics,NaN,NaN,NaN,Adjusted estimate.,NaN
6,Afghanistan,4,Around 2005,2003,2000-2005,7.52,146,333,350,289,...,143,..,30.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,Data pertain to the period of 5 to 9 years bef...,NaN
7,Afghanistan,4,Latest,2009,2007-2010,5.11,80,257,262,209,...,60,26,29.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,NaN,NaN
8,Albania,8,Around 1970,1970,NaN,5.16,39,275,266,214,...,69,22,29.7,Registration,National statistics,NaN,NaN,NaN,NaN,NaN
9,Albania,8,Around 1985,1985,NaN,3.33,17,176,226,145,...,24,2,28.8,Registration,UNSD,NaN,NaN,NaN,NaN,NaN

In [47]:
fertility_clean = fertility_df.drop([0, 1])
fertility_clean.columns= ['Country', 'ISO Code', 'Period', 'Reference Year', 'Period', 'Total Fertility',
                          'Age-specific fertility rates: 15-19','Age-specific fertility rates: 20-24',
                          'Age-specific fertility rates: 25-29', 'Age-specific fertility rates: 30-34',
                         'Age-specific fertility rates: 35-39','Age-specific fertility rates: 40-44',
                          'Age-specific fertility rates: 45-49', 'Mean Age at Childbearing', 'D1', 'D2', 'D3','D4','D5','D6','D7']
fertility_clean = fertility_clean.drop(columns=['Period','D1','D2','D3','D4','D5','D6','D7'])
fertility_clean = fertility_clean.drop([2, 3])

#reference_years =sorted(fertility_clean['Reference Year'].unique())
#reference_years=fertility_clean["Reference Year"].unique()
#reference_years
fertility_clean

,Country,ISO Code,Reference Year,Total Fertility,Age-specific fertility rates: 15-19,Age-specific fertility rates: 20-24,Age-specific fertility rates: 25-29,Age-specific fertility rates: 30-34,Age-specific fertility rates: 35-39,Age-specific fertility rates: 40-44,Age-specific fertility rates: 45-49,Mean Age at Childbearing
4,Afghanistan,4,1973,8.21,168,359,355,307,235,137,81,30
5,Afghanistan,4,1979,7.11,105,260,309,301,262,185,..,30.7
6,Afghanistan,4,2003,7.52,146,333,350,289,217,143,..,30.1
7,Afghanistan,4,2009,5.11,80,257,262,209,128,60,26,29.1
8,Albania,8,1970,5.16,39,275,266,214,146,69,22,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1072,Zimbabwe,716,1969,6.74,79,272,304,257,218,145,73,31.2
1073,Zimbabwe,716,1987,5.42,102,251,250,212,158,80,32,29.5
1074,Zimbabwe,716,1998,3.98,112,199,180,135,108,46,15,28.3
1075,Zimbabwe,716,2004,3.8,99,205,172,144,86,42,13,28.1
1076,Zimbabwe,716,2009,4.11,115,212,194,149,104,35,12,27.9

In [50]:
last_year=fertility_clean.sort_values('Reference Year', ascending=False).drop_duplicates(['ISO Code'])

reference_years =last_year['Reference Year'].unique()
#reference_years=fertility_clean["Reference Year"].unique()
reference_years

array(['2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001', '2000', '1999', '1977'], dtype=object)