In [8]:
import pandas as pd
file_one = "csv_files/Age-specific fertility rates, Total fertility and .csv"


fertility_df = pd.read_csv(file_one)

fertility_df.head(10)

,"United Nations, Department of Economic and Social Affairs",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,"Population Division, Fertility and Family Plan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World Fertility Data 2012\nAGE-SPECIFIC FERTIL...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country,ISO code,Period,Reference,NaN,Total fertility,Age-specific fertility rates,NaN,NaN,NaN,...,NaN,NaN,Mean age at childbearing,Source type,Source,Survey name,Note on country or population,Note on age,Note on methods,Note on population data used in denominator
3,NaN,NaN,NaN,Year,Period,NaN,15-19,20-24,25-29,30-34,...,40-44,45-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,4,Around 1970,1973,1972-1973,8.21,168,359,355,307,...,137,81,30,Survey,National statistics,Afghanistan 1972-1974 National Demographic and...,NaN,NaN,NaN,NaN
5,Afghanistan,4,..,1979,NaN,7.11,105,260,309,301,...,185,..,30.7,Census,National statistics,NaN,NaN,NaN,Adjusted estimate.,NaN
6,Afghanistan,4,Around 2005,2003,2000-2005,7.52,146,333,350,289,...,143,..,30.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,Data pertain to the period of 5 to 9 years bef...,NaN
7,Afghanistan,4,Latest,2009,2007-2010,5.11,80,257,262,209,...,60,26,29.1,Survey,DHS,Afghanistan 2010 Mortality Survey,Excluding areas in the South zone.,NaN,NaN,NaN
8,Albania,8,Around 1970,1970,NaN,5.16,39,275,266,214,...,69,22,29.7,Registration,National statistics,NaN,NaN,NaN,NaN,NaN
9,Albania,8,Around 1985,1985,NaN,3.33,17,176,226,145,...,24,2,28.8,Registration,UNSD,NaN,NaN,NaN,NaN,NaN

In [9]:
fertility_clean = fertility_df.drop([0, 1])
fertility_clean.columns= ['Country', 'ISO Code', 'Period', 'Reference Year', 'Period', 'Total Fertility',
                          'Age-specific fertility rates: 15-19','Age-specific fertility rates: 20-24',
                          'Age-specific fertility rates: 25-29', 'Age-specific fertility rates: 30-34',
                         'Age-specific fertility rates: 35-39','Age-specific fertility rates: 40-44',
                          'Age-specific fertility rates: 45-49', 'Mean Age at Childbearing', 'D1', 'D2', 'D3','D4','D5','D6','D7']
fertility_clean = fertility_clean.drop(columns=['Period','D1','D2','D3','D4','D5','D6','D7'])
fertility_clean = fertility_clean.drop([2, 3])

#reference_years =sorted(fertility_clean['Reference Year'].unique())
#reference_years=fertility_clean["Reference Year"].unique()
#reference_years
fertility_clean

,Country,ISO Code,Reference Year,Total Fertility,Age-specific fertility rates: 15-19,Age-specific fertility rates: 20-24,Age-specific fertility rates: 25-29,Age-specific fertility rates: 30-34,Age-specific fertility rates: 35-39,Age-specific fertility rates: 40-44,Age-specific fertility rates: 45-49,Mean Age at Childbearing
4,Afghanistan,4,1973,8.21,168,359,355,307,235,137,81,30
5,Afghanistan,4,1979,7.11,105,260,309,301,262,185,..,30.7
6,Afghanistan,4,2003,7.52,146,333,350,289,217,143,..,30.1
7,Afghanistan,4,2009,5.11,80,257,262,209,128,60,26,29.1
8,Albania,8,1970,5.16,39,275,266,214,146,69,22,29.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1072,Zimbabwe,716,1969,6.74,79,272,304,257,218,145,73,31.2
1073,Zimbabwe,716,1987,5.42,102,251,250,212,158,80,32,29.5
1074,Zimbabwe,716,1998,3.98,112,199,180,135,108,46,15,28.3
1075,Zimbabwe,716,2004,3.8,99,205,172,144,86,42,13,28.1
1076,Zimbabwe,716,2009,4.11,115,212,194,149,104,35,12,27.9

In [10]:
last_year=fertility_clean.sort_values('Reference Year', ascending=False).drop_duplicates(['ISO Code'])

reference_years =last_year['Reference Year'].unique()
#reference_years=fertility_clean["Reference Year"].unique()
reference_years

array(['2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004',
       '2003', '2002', '2001', '2000', '1999', '1977'], dtype=object)

In [11]:
import pandas as pd
file_literacy = "csv_files/Our World In Data literacy-rate-by-country.csv"

In [12]:
literacy_df = pd.read_csv(file_literacy)

literacy_df.head(10)

                Entity Code  Year  Literacy rate (CIA Factbook (2016))
0          Afghanistan  AFG  2000                                 28.1
1              Albania  ALB  2011                                 96.8
2              Algeria  DZA  2006                                 72.6
3       American Samoa  ASM  1980                                 97.0
4              Andorra  AND  2011                                100.0
5               Angola  AGO  2011                                 70.4
6             Anguilla  AIA  1984                                 95.0
7  Antigua and Barbuda  ATG  2011                                 99.0
8            Argentina  ARG  2011                                 97.9
9              Armenia  ARM  2011                                 99.6

In [18]:
# change field name in literacy rate to literacy_rate
literacy_df.columns = ["Country", "Code", "Reference Year", "Literacy_rate"]
literacy_df['Reference Year']=literacy_df['Reference Year'].astype(str)
literacy_df.head(10)

               Country Code Reference Year  Literacy_rate
0          Afghanistan  AFG           2000           28.1
1              Albania  ALB           2011           96.8
2              Algeria  DZA           2006           72.6
3       American Samoa  ASM           1980           97.0
4              Andorra  AND           2011          100.0
5               Angola  AGO           2011           70.4
6             Anguilla  AIA           1984           95.0
7  Antigua and Barbuda  ATG           2011           99.0
8            Argentina  ARG           2011           97.9
9              Armenia  ARM           2011           99.6

In [19]:
# merge on Country and Entity
# create df that has Country, Total Fertility, literacy_rate
correlation_df = fertility_clean.merge(literacy_df, on=['Country','Reference Year'], how='inner')
correlation_df.head(15)

,Country,ISO Code,Reference Year,Total Fertility,Age-specific fertility rates: 15-19,Age-specific fertility rates: 20-24,Age-specific fertility rates: 25-29,Age-specific fertility rates: 30-34,Age-specific fertility rates: 35-39,Age-specific fertility rates: 40-44,Age-specific fertility rates: 45-49,Mean Age at Childbearing,Code,Literacy_rate
0,Anguilla,660,1984,2.91,102,153,147,112,41,26,0,26.8,AIA,95.0
1,Aruba,533,2010,1.61,40,92,86,68,29,8,0,27.2,ABW,96.8
2,Azerbaijan,31,2010,1.93,48,142,114,55,21,5,1,25.9,AZE,99.8
3,Barbados,52,2002,1.9,55,97,91,81,42,13,1,27.5,BRB,99.7
4,Bhutan,64,2005,2.51,46,145,137,85,52,29,8,28.2,BTN,52.8
5,Cambodia,116,2009,3.05,46,173,167,121,71,28,4,28.3,KHM,73.9
6,Cameroon,120,2010,5.09,127,232,250,207,129,57,16,28.6,CMR,71.3
7,Chile,152,2009,1.93,54,85,95,85,51,14,1,28,CHL,98.6
8,Dominica,212,2003,2.1,48,111,75,89,70,25,1,28.7,DMA,94.0
9,Georgia,268,2011,1.69,43,112,95,57,25,6,0,26.4,GEO,99.7
10,Guinea,324,2010,5.1,146,207,224,198,139,73,32,29.1,GIN,41.0
11,Guyana,328,2002,3.71,84,197,179,134,90,39,20,28.5,GUY,91.8
12,Maldives,462,2006,2.16,15,118,130,97,55,16,1,28.8,MDV,98.4
13,Malta,470,2005,1.38,16,45,97,83,27,6,0,28.9,MLT,92.4
14,Mozambique,508,2010,5.92,167,264,251,214,168,84,36,29,MOZ,56.1